body {
    font-family: 'Montserrat', sans-serif;
  }
  
  #header-container,
  #info-container {
    background-color: tomato;
    color: white;
  }
  
  #menu-container .myform{
    margin-left: 50px;
  }
  
  input.form-control:focus {
    border-color: tomato;
  }
  
  .myIcon {
    display: none;
  }
  
  .myLogin {
    display: none;
  }
  
  button:focus {
    outline: none;
  }
   
  #footer-container {
    background-color:tomato;
    color: white;
    font-size:90%;
  }
  
  #footer-container .form-control {
    width: inherit;
  }
  
  #footer-container .nav-link {
    color: white;
  }
  
  
  #filtros-container .list-group-item-action.active {
    background-color: yellow;
    border-color: tomato;
  }
  
  #productos-contianer .form-check-label {
    padding-left: 0;
    margin-bottom: 0;
  }
  
  #paginatorContainer .page-item.disabled .page-link {
    color: gray;
  }
  
  #paginatorContainer .page-item.active .page-link {
    background-color: tomato;
    border-color: tomato;
    color: white;
  }
  
  #paginatorContainer .page-link {
    color:tomato;
  }
    
  
.menu-item {
    background-color: tomato;
    border: 1px whitesmoke solid;
    border-radius: 10%;
    width: 8em;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    background-color: transparent;
    border:  1px whitesmoke solid;
    border-radius: 20%;
}

.navbar-light .navbar-toggler {
    color: tomato;
    background-color:tomato;
}

.navbar-light{
    background-color: tomato;
}
/* 
.header-container{
    border:1px solid gray;
} */

.labels-carrucel{
  background-color: rgba(255, 99, 71, 0.5);
  color:white;
}

section{
  margin-top: 3em;
}

.alcentro{
  text-align: center;  
}

.tomato1{
  background-color: tomato;
}

.beneficios {
  /* display: grid; */
  /* grid-template-columns: 1rem; */
  background-color: white;
  color: #444;
  margin-top:1em;
}

.box {
  background-color:tomato;
  color: white;
  border-radius: 5px;
  margin: 1em 1em 1em 1em;
  padding: 1em;
  /* font-size: 150%; */
}

.box-title{
  background-color: brown;
  color: white;
  border-radius: 5px;
  margin: 1em 1em 1em 1em;
  padding: 1em;
  border: 2px solid brown
}

.seccion5{
  background-color: white;
  color: brown;
  border-radius: 5px;
  margin: 1em 1em 1em 1em;
  padding: 1em;
  border: 2px solid brown
  }

.box:hover{
  opacity: 0.5;
  cursor: pointer;
}

.pedido{
  background-color: tomato;
  color: white;
  border-radius: 5%;
  font-size:2em;
}

.pedido:hover{
  cursor: pointer;
}

.suscribete{
  border-radius: 5%;
  background-color: brown;
  color:white;
}

  @media (max-width: 768px) {
    #menu-container .form-control {
      width: inherit;
    } 
  }

  .seccion2{
    border:1px solid rgb(135, 132, 127);
    margin-top: 1em;
    }
  .seccion5{
    border:1px solid rgb(135, 132, 127);
    margin-top: 1em;
}